* {
  font-size: 1.5rem;
}
::selection {
  background: var(--gray);
}
html {
  --background: rgba(192, 192, 192, 0.1);
  --border: 0.1rem 0.1rem rgba(128, 128, 128, 0.1), -0.1rem -0.1rem var(--background);
  --filter: blur(2rem) brightness(110%) saturate(120%);
  --gap: 2rem;
  --gray: #181818;
  color-scheme: dark;
}
body {
  font-family: 'Inter', sans-serif;
  background: #080808;
  color: rgba(255, 255, 255, 0.6);
  display: grid;
  gap: var(--gap);
}
#menu {
  position: fixed;
  display: grid;
  gap: var(--gap);
  align-items: start;
  grid-template-columns: repeat(4, 10rem);
}
section {
  margin: var(--gap);
  border-radius: var(--gap);
  padding: var(--gap);
  min-width: 10rem;
  max-height: calc(100vh - var(--gap) * 2);
  display: grid;
  gap: calc(var(--gap) / 2);
  backdrop-filter: var(--filter);
  -webkit-backdrop-filter: var(--filter);
  box-shadow: var(--border);
  overflow: auto;
}
#file,
#edit,
#help {
  display: none;
}
h1,
h2 {
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
button {
  color: inherit;
  background: transparent;
}
div {
  display: grid;
  gap: calc(var(--gap) / 2);
}
hr {
  height: 0.1rem;
  background: var(--background);
}
ul {
  max-height: 25.1rem;
  display: grid;
  gap: calc(var(--gap) / 2);
  overflow: auto;
}
ul::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
}
ul::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: rgba(64, 64, 64, 0.1);
}
ul::-webkit-scrollbar-thumb:hover {
  background: var(--background);
}
#settings {
  width: 21.5rem;
  position: fixed;
  justify-self: end;
}
#settingsContent {
  display: grid;
}
.xyz {
  grid-template-columns: repeat(3, auto);
}
input {
  outline: none;
  background: transparent;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  max-width: 3rem;
  -moz-appearance: textfield;
}
input[type=color] {
  border-radius: 0.6rem;
  width: 3.8rem;
  height: 1.9rem;
  backdrop-filter: var(--filter);
  -webkit-backdrop-filter: var(--filter);
  box-shadow: var(--border);
  vertical-align: middle;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
::-moz-color-swatch {
  border: 0;
  border-radius: 0.4rem;
}
::-webkit-color-swatch {
  border: 0;
  border-radius: 0.4rem;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type=checkbox] {
  border-radius: 0.6rem;
  width: 1.9rem;
  height: 1.9rem;
  backdrop-filter: var(--filter);
  -webkit-backdrop-filter: var(--filter);
  box-shadow: var(--border);
  vertical-align: middle;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
input[type=checkbox]:checked {
  background: var(--background);
}
#viewHelper {
  height: 10rem;
  position: fixed;
  align-self: end;
}
#container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  place-items: center;
}
#hotkeys {
  display: grid;
}
#hotkeys > ul {
  max-height: 100rem;
  align-items: start;
  grid-template-columns: repeat(4, auto);
}
.hidden {
  display: none;
}
@media (min-width: 768px) {
  #file,
  #edit,
  #help {
    display: grid;
  }
}
