* {
  font-size: 1.5rem;
}
html {
  --gap: 20px;
  --gray: #222;
  color-scheme: dark;
}
body {
  font-family: 'Inter', sans-serif;
  background: #000;
  color: #fff;
}
main {
  display: flex;
  position: fixed;
}
ul {
  border: 1px solid var(--gray);
  border-radius: 6px;
  padding: var(--gap);
  backdrop-filter: blur(var(--gap));
}
button {
  background: transparent;
}
