* {
  font-size: 1.5rem;
}
::selection {
  background: var(--gray);
}
html {
  --gap: 20px;
  --gray: #181818;
  color-scheme: dark;
}
body {
  font-family: 'Inter', sans-serif;
  background: #080808;
  color: #f8f8f8;
}
section {
  margin: var(--gap);
  border: 1px solid var(--gray);
  border-radius: var(--gap);
  padding: var(--gap);
  position: fixed;
  max-height: 100%;
  display: grid;
  gap: calc(var(--gap) / 2);
  backdrop-filter: blur(var(--gap));
  overflow: scroll;
}
h1,
h2 {
  font-weight: bold;
  text-align: center;
}
ul {
  display: grid;
  gap: calc(var(--gap) / 2);
}
button {
  background: transparent;
}
#edit {
  right: 0;
}
hr {
  height: 1px;
  background: var(--gray);
}
.xyz {
  grid-template-columns: auto auto auto;
}
input {
  max-width: 33px;
  outline: none;
  background: transparent;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=color] {
  border: 1px solid var(--gray);
  border-radius: 6px;
  max-height: 19px;
  vertical-align: middle;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
::-moz-color-swatch {
  border: 0;
  border-radius: 6px;
}
::-webkit-color-swatch {
  border: 0;
  border-radius: 6px;
}
::-webkit-color-swatch-wrapper {
  border-radius: 6px;
  padding: 0;
}
