* {
  margin: 0;
  border: 0;
  padding: 0;
  line-height: 1.6;
  font-weight: normal;
  box-sizing: border-box;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  user-select: none;
}
img {
  display: block;
  max-width: 100%;
  -webkit-user-drag: none;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-user-drag: none;
}
a,
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  font: inherit;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
